<h1>疫情数据统计与检查系统</h1>
<div class="loginDiv">

    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-control nzErrorTip="请输入用户名">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="userName" placeholder="用户名" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="请输入密码">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="密码" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <!-- <label nz-checkbox formControlName="remember">
                    <span>记住我</span>
                </label>
                <a class="login-form-forgot" class="login-form-forgot">忘记密码</a> -->
                <button nz-button class="login-form-button" [nzType]="'primary'" (click)="login()"
                    [disabled]='validateForm.invalid'>Log in</button>
                <a>注册新用户</a>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>